<body>
  <mat-tab-group>
    <mat-tab label="Stat">
      <div class="container">
        <label for="nome">NOME> </label>
        <input type="text" name="nome" id="nome" [(ngModel)]="character.nome">
        <br>
        <div class="stat">
          <label for="resistenza">resistenza> </label>
          <input type="number" name="resistenza" id="resistenza" [(ngModel)]="character.resistenza">
          <br>
          <label for="riflessi">riflessi> </label>
          <input type="number" name="riflessi" id="riflessi" [(ngModel)]="character.riflessi">
          <br>
          <label for="furtivita">furtivita> </label>
          <input type="number" name="furtivita" id="furtivita" [(ngModel)]="character.furtivita">
          <br>
          <label for="precisione">precisione> </label>
          <input type="number" name="precisione" id="precisione" [(ngModel)]="character.precisione">
          <br>
          <label for="sensi">sensi> </label>
          <input type="number" name="sensi" id="sensi" [(ngModel)]="character.sensi">
          <br>
          <label for="astuzia">astuzia> </label>
          <input type="number" name="astuzia" id="astuzia" [(ngModel)]="character.astuzia">
          <br>
          <label for="memoria">memoria> </label>
          <input type="number" name="memoria" id="memoria" [(ngModel)]="character.memoria">
          <br>
          <label for="tech">tech> </label>
          <input type="number" name="tech" id="tech" [(ngModel)]="character.tech">
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Combat">
      <div class="container">
        <mat-grid-list cols="3" rowHeight="4rem">
          <mat-grid-tile [colspan]="2">
            <label for="vitalita">VITALITÀ> </label>
            <input type="number" name="vitalita" id="vitalita" [(ngModel)]="character.vitalita" style="margin-right: 3px !important; width:3rem;">/
            <input type="number" name="vitalitamax" id="vitalitamax" [(ngModel)]="character.vitalitaMax" style="width:3rem;">
          </mat-grid-tile>
          <mat-grid-tile>
            <label for="armatura">ARMATURA> </label>
            <input type="number" name="armatura" id="armatura" [(ngModel)]="character.armatura">
          </mat-grid-tile>
          <mat-grid-tile>
            <label for="velocita">VELOCITÀ> </label>
            <input type="number" name="velocita" id="velocita" [(ngModel)]="character.velocita">
          </mat-grid-tile>
          <mat-grid-tile></mat-grid-tile>
          <mat-grid-tile>
            <label for="ferito">FERITO> </label>
            <label class="check-container">
              <input type="checkbox" name="ferito" id="ferito" [(ngModel)]="character.ferito">
              <span class="checkmark"></span>
            </label>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3" rowspan="3">
            <label for="status">STATUS> </label>
            <textarea name="status" id="status" [(ngModel)]="character.status"></textarea>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-divider></mat-divider>

        <mat-tab-group>
          <mat-tab label="Armi">
            <br>
            <div id="armiList">
              <div *ngFor="let arma of armiList" style="padding-top: 2px">
                <span style="font-size:1.2rem; font-family: 'Workbench', sans-serif">nome> {{arma.nome}}</span><br><br>
                <div class="arma">
                  gittata> {{arma.gittata}}<br>
                  danni> {{arma.danni}}<br>
                  rateo> {{arma.rateo}}<br>
                  <label>attacchi> </label>
                  <input type="number" [id]="'attacchi'+arma.nome" [value]="arma.attacchi">/
                {{arma.attacchi+" "+(arma.extra?arma.extra:"")}}
                </div>
                <mat-divider></mat-divider>
              </div>
            </div>
            <input type="button" value="+" class="button-addrow" (click)="addArmi()">
          </mat-tab>
          <mat-tab label="Tattiche">
            <br>
            <div *ngFor="let tatN of tatList" class="inv-list">
              <input type="text" [id]="'tatName'+tatN" style="width: 60%">
              <div style="font-family: 'Workbench', sans-serif">
                <input type="number" [id]="'tatName'+tatN"> min
              </div>
              <mat-divider></mat-divider>
            </div>
            <input type="button" value="+" class="button-addrow" (click)="addTat()">
          </mat-tab>
          <mat-tab label="Inventario">
            <br>
            <div *ngFor="let invN of invList" class="inv-list">
              <input type="text" [id]="'invName'+invN">
              <div>
                <input type="number" [id]="'invAmount'+invN"> /
                <input type="number" [id]="'invMax'+invN">
              </div>
              <mat-divider></mat-divider>
            </div>
            <input type="button" value="+" class="button-addrow" (click)="addInv()">
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-tab>
    <mat-tab label="Azioni">
      <div class="azioni">
        <br>
        <input type="button" value="Esporta" (click)="export()">
        <br>
        <mat-divider></mat-divider>
        <br>
        <input type="file" class="file-upload" (change)="onUpload($event)" style="font-size: 1rem;">
        <br>
        <input type="button" value="Importa" (click)="import()">
      </div>
    </mat-tab>
  </mat-tab-group>
</body>
